tr:hover {
	background-color: #EEEEF1;
}

.checkbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.checkboxLabel {
	position: relative;
}

.btnEnabled {
	background-color: #34538A !important;
	color: white !important;
}

.btnDisabled {
	background-color: rgb(224, 224, 224) !important;
	color: rgb(141,141,141) !important;
  }

.navBtn {
	background-color: #34538A !important;
	color: white !important;
	height: 50px;
}

.btnIcon {
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.btnIconDisabled {
	color: rgb(141,141,141) !important;
	margin-left: auto;
	margin-right: auto;
}

.btnRow {
	grid-column-start: 1;
    grid-column-end: 25;
    grid-row-start: 3;
    grid-row-end: 5;
	display: flex;
	justify-content: space-between;
}

.center {
	grid-column-start: 1;
    grid-column-end: 25;
    grid-row-start: 3;
    grid-row-end: 5;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.centerFB {
	grid-column-start: 1;
    grid-column-end: 25;
    grid-row-start: 1;
    grid-row-end: 3;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.editDropdown {
	width: 100%;
	display: flex;
	justify-content: center;
}

.viewData {
	grid-column-start: 1;
    grid-column-end: 25;
    grid-row-start: 7;
    grid-row-end: 25;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.tableContainer {
	grid-column-start: 1;
    grid-column-end: 25;
    grid-row-start: 7;
    grid-row-end: 25;
	overflow-y: auto;
	border-top: 20px solid white;
}

.viewContainer {
	width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 29.33px);
}

.deleteContainer {
	width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.deleteData {
	font-size: 18px;
	border-bottom: solid 0.5px #C7C1C1;
	display: flex;
	justify-content: center;
}


.deleteBtn {
	background-color: #B1262D !important;
	color: white !important;
}

.deleteDropdown {
	grid-column-start: 1;
    grid-column-end: 25;
    grid-row-start: 7;
    grid-row-end: 25;
}

.layout {
	padding-top: 50px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 38.3px);
}

.card {
	padding: 0 5% 0 5%;
    grid-column-start: 2;
    grid-column-end: 24;
    grid-row-start: 2;
    grid-row-end: 25;
	box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.content {
	width: 100%;
	height: 80%;
}

.newContainer {
	width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.navRow {
	font-size: 1.3vw;
	width: 100%;
	height: 50px;
	min-height: 50px;
	max-height: 50px;
	display: flex;
}

.data {
	font-size: 18px;
	border-bottom: solid 0.5px #C7C1C1;
	display: flex;
}

.dataLabel {
	width: 200px;
	text-align: right;
	word-wrap: break-word;
	padding-right: 20px;
}

.dataContent {
	color: #34538A;
}

.navSelected {
	border-bottom: 2px solid #34538A;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navNotSelected {
	border-bottom: 1px solid #C7C1C1;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navNotSelected:hover {
	background-color: #EEEEF1;
}

.navIconSelected {
	color: #34538A;
}

.navTextSelected {
	color: #34538A;

}

.navIconNotSelected {
	color: #484852;
}

.navTextNotSelected {
	color: #484852;
}

.feedbackErr {
	height: 50px;
	display: flex;
	justify-content: center;
	color: #B1262D;
}

.feedbackSucc {
	height: 50px;
	display: flex;
	justify-content: center;
	color: #3C9052;
}

.tableFixHead, thead, th {
	position: sticky;
	top: 0;
	background: #34538A;
	color: white;
}


table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px 16px;
	/* border: 1px solid #C7C1C1; */
	text-align: center;
}

td {
	border: 1px solid #C7C1C1;
}

th {
	border-left: 1px solid #C7C1C1;
	border-right: 1px solid #C7C1C1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.layout {
		height: 100%;
		width: 100%;
		display: flex;
	}

	table {
		font-size: x-small;
		table-layout: fixed;
	}

	.content {
		height: 100%;
	}

	.newContainer {
		height: 380px;
	}


	th, td {
		padding: 0 0 0 0;
		max-width: fit-content;
		border: 1px solid #C7C1C1;
		text-align: center;
		word-wrap: break-word;
	}

	.navTextSelected {
		display: none;
	}
	
	.navTextNotSelected {
		display: none;
	}

	.navIconSelected {
		margin-left: auto;
		margin-right: auto;
	}

	.navIconNotSelected {
		margin-left: auto;
		margin-right: auto;
	}

    .card{
        width: 100%;
		height: fit-content;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		margin: 0 0 0 0;
		box-shadow: none;
    }

	.viewContainer{
		height: 450px;
	}

	.deleteContainer {
		height: 300px;
	}

	.btnRow {
		grid-column-start: 1;
		grid-column-end: 25;
		grid-row-start: 2;
		grid-row-end: 4;
		display: flex;
		justify-content: space-between;
	}
	
	.center {
		grid-column-start: 1;
		grid-column-end: 25;
		grid-row-start: 2;
		grid-row-end: 4;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	
	.viewData {
		grid-column-start: 1;
		grid-column-end: 25;
		grid-row-start: 5;
		grid-row-end: 16;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	
	.tableContainer {
		grid-column-start: 1;
		grid-column-end: 25;
		grid-row-start: 4;
		grid-row-end: 16;
		overflow-y: auto;
		border-bottom: 1px solid #C7C1C1;
		border-top: 20px solid white;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
