# Flask configuration
FLASK_SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
SQLALCHEMY_DATABASE_URI=sqlite:///api/apidata.db
JWT_ACCESS_TOKEN_EXPIRES_HOURS=10

# Mail configuration
MAIL_SERVER=smtp.example.org
MAIL_PORT=465
MAIL_USE_SSL=true
MAIL_USERNAME=your-user@example.org
MAIL_PASSWORD=super-secret-password

# Frontend URL used for email links
PREACT_APP_HOST_URI=http://localhost:8080
