.dropdown {
	display: inline-block;
	position: relative;
	width: 100px;
}

.contentInactive {
	/* width: 100%;
	margin-top: 25px;
	text-align: left;
	position: absolute;
	padding: 0;
	top: 0;
	left: 0; */
	display: none;
}

.contentActive {
	width: 100%;
	margin-top: 25px;
	text-align: left;
	position: absolute;
	padding: 0;
	top: 0;
	left: 0;
	display: block;
}

.placeholderInactive{
	width: 100%;
	border-bottom: 3px solid #34538A;
	color: #34538A;
	background-color: #E3F2FD;
	display: inline-block;
	text-align: center;
}

.placeholderActive{
	color: white;
	position: absolute;
	width: 100%;
	border-radius: none;
	text-align: center;
}

.placeholderActive:hover {
	background-color: #E3F2FD;
	position: absolute;
	color: #34538A;
	border-bottom: 3px solid #34538A;
}

.data {
	background-color: #E3F2FD;
	text-align: center;
}

.data:hover {
	color: #34538A;
	border-bottom: 3px solid #34538A;
}

