.page {
	position: static;
	height: calc(100% - var(--global-header-height));
	padding: var(--global-page-margin);
	overflow: auto;
	width: 100%;
}

.profileContainer {
	width: calc((var(--global-profile-input-width) * 2) + var(--global-profile-column-space));
}

.headerContainer {
	display: flex;
	flex-direction: column;
}

.pageHeader {
	color: var(--global-header-color);
	width: 100%;
	display: inline-block;
	margin-bottom: var(--global-line-space);
	font-size: var(--global-header-size);
	border-bottom: var(--global-header-line-size) solid var(--global-header-line-color);
}

.header {
	font-size: 20px;
}

.subHeader {
	font-size: 15px;
	margin-bottom: var(--global-profile-line-space);
}

.row {
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--global-profile-line-space);
}

.radioContainer {
	height: fit-content;
	display: flex;
	justify-content: space-around;
	width: var(--global-profile-input-width)
}

.radioBtn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fullWidth {
	width: 100%;
}

.input {
	width: var(--global-profile-input-width);
}

.dateContainer {
	width: var(--global-profile-input-width);
	display: flex;
	flex-direction: column;
}

.dateInput:focus {
	border-color: var(--mdc-theme-primary) !important;
	padding-left: 100px;
}

.feedbackErr {
	color: var(--global-error-color);
	font-size: var(--global-feedback-size);
}

.feedbackSucc {
	color: var(--global-success-color);
	font-size: var(--global-feedback-size);
}

.bDayLabel {
	background-color: white;
	/* padding-left: 10px; */
	width: 75px;
	position: relative;
	top: -64px;
	left: 10px;
	font-size: small;
	color: rgba(0, 0, 0, 0.6);;
	display: flex;
	justify-content: center;
}

.bDayLabelFocused {
	background-color: white;
	/* padding-left: 10px; */
	width: 75px;
	position: relative;
	top: -64px;
	left: 10px;
	font-size: small;
	color: rgba(0, 0, 0, 0.6);;
	display: flex;
	justify-content: center;
	color: var(--mdc-theme-primary);
}

.btnContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

