.card {
	width: 100%;
	height: 350px;
	padding: 1% 5% 1% 5%;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
	margin-top: 50px;
	overflow: auto;
	resize: vertical;
}

.newContainer {
	width: 50%;
    height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.checkbox {
	width: 33%;
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;
	margin-left: 30%;
}

.checkboxLabel {
	position: relative;
	margin-bottom: 20px;
	/* margin-right: 100px; */
}
.btnEnabled {
	background-color: #34538A !important;
	color: white !important;
}

.btnDisabled {
	background-color: rgb(224, 224, 224) !important;
	color: rgb(141,141,141) !important;
}

tr:hover {
	background-color: #EEEEF1;
}

.thIcon {
	color: white;
	margin-left: 30px;
}

.thIconContainer {
	width: 120px;
}

.tdIconContainer {
	width: 120px;
	display: flex;
	justify-content: space-around;
	padding-left: 20px;
}

.tdIcon {
	color: #34538A;
}

.tableContainer {
	max-height: 100%;
	min-height: 100%;
	overflow-y: auto;
	border-top: 20px solid white;
}

.tableFixHead, thead, th {
	position: sticky;
	top: 0;
	background: #34538A;
	color: white;
}


table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px 16px;
	/* border: 1px solid #C7C1C1; */
	text-align: center;
}

td {
	border: 1px solid #C7C1C1;
}

th {
	border-left: 1px solid #C7C1C1;
	border-right: 1px solid #C7C1C1;
}

.btnIcon {
	color: white !important;
	margin-left: auto;
	margin-right: auto;
}

.btnContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.newContainer {
		width: 100%;
	}
}