.card {
	margin-top: 50px;
	padding: 0 5% 0 5%;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 10;
	box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.btnContainer {
	width: 70%;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.inputContainer {
	width: 100%;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 450px;
	padding: 0 0 10% 0;
	margin-top: 10%;
}

.data {
	border-bottom: solid 0.5px #C7C1C1;

}


.layout {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, auto);
}

.radio {
	height: 20px;
	width: 50px;
	font-size: 10px;
	
} 

.btnDisabled {
	background-color: #C7C1C1;
	color: black;
	width: 50%;
  }
  
  .btnEnabled {
	background-color: #34538A !important;
	color: white !important;
	width: 50%;
  }


.feedbackErr {
	display: flex;
	justify-content: center;
	color: #B1262D;
}

.feedbackSucc {
	display: flex;
	justify-content: center;
	color: #3C9052;
}


.label {
	top: 0;
	position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feedback {
	display: flex;
	justify-content: center;
	color: #B1262D;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.btnContainer {
		min-height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.layout {
		height: fit-content;
		width: 100%;
		display: flex;
	}

    .card{
        padding-top: 15%;
        width: 100%;
		height: 100%;
		box-shadow: none;

    }

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		max-height: 400px;
		min-height: 400px;
		padding: 0 0 10% 0;
	}

	.doubleFieldContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	.doubleField {
		width: 100%;
		height: 100%;
		display: block;
		flex-direction: column;
		justify-content: start;
		padding-right: 10%;
	}

	.row {
		width: 100%;
		height: 40px;
		display: flex;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
