.page {
	position: static;
	height: calc(100% - var(--global-header-height));
	padding: var(--global-page-margin);
	overflow: auto;
	width: 100%;
}

.settingsContainer {
	width: calc((var(--global-profile-input-width) * 2) + var(--global-profile-column-space));
}

.headerContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--global-profile-line-space);
	width: 600px;
}

.pageHeader {
	color: var(--global-header-color);
	width: 100%;
	display: inline-block;
	margin-bottom: var(--global-line-space);
	font-size: var(--global-header-size);
	border-bottom: var(--global-header-line-size) solid var(--global-header-line-color);
}

.header {
	font-size: 20px;
}

.subHeader {
	font-size: 15px;
}

.row {
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--global-profile-line-space);
}

.radioContainer {
	height: fit-content;
	display: flex;
	justify-content: space-around;
	width: var(--global-profile-input-width)
}

.radioBtn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fullWidth {
	width: 100%;
}

.input {
	width: var(--global-profile-input-width);
}

.mrgnBttm {
	margin-bottom: var(--global-profile-line-space);
}

.dateContainer {
	width: var(--global-profile-input-width);
	display: flex;
	flex-direction: column;
}

.dateInput {
	padding-left: 15px;
}

.feedbackErr {
	color: var(--global-error-color);
	font-size: var(--global-feedback-size);
}

.feedbackSucc {
	color: var(--global-success-color);
	font-size: var(--global-feedback-size);
}

.label {
	padding-left: 5px;
	padding-right: 5px;
	width: fit-content;
	position: relative;
	/* top: -30px;
	left: 15px; */
	font-size: 15px;
	color: rgba(0, 0, 0, 0.6);;
}

.btnContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.center {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.checkContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.mySnackbar :global(.mdc-snackbar) {
	width: var(--global-snackbar-width);
	margin: var(--global-snackbar-margin);
	background-color: var(--global-snackbar-color);
	color: var(--global-snackbar-font-color) !important;
	box-shadow: var(--global-shadow);
}

:global(.mdc-snackbar__text) {
	color: var(--global-snackbar-font-color) !important;
}

.codeContainer {
	display: flex;
	align-items: center;
}

.codeBtn {
	width: 160px;
}

.displayCode {
	display: flex;
	align-items: center;

}

.copyIcon {
	color: var(--mdc-theme-primary);
	font-family: 'Material Icons';
    font-style: normal;
	font-size: 25px;
	z-index: 8;
	cursor: pointer;
	margin-left: 20px;
}

