
.navbar {
	height: calc(100% - var(--global-header-height));
}

aside {
	background-color: aqua !important; 
	position: static !important;
	/* z-index: 1; */
	box-shadow: var(--global-shadow);
	width: fit-content !important;
	height: 100%
}

.navrail {
	height: calc(100% - var(--global-header-height));
}

.navbarContent {
	width: var(--global-navbar-width);
}

.navrailContent{
	width: var(--global-navrail-width);
}

.versionContainerRail {
	display: none;
}

.versionContainer {
	/* height: 100px;
	width: 100px; */
	position: absolute;
	left: 10px;
	bottom: 15px;
	color: rgba(0, 0, 0, 0.4);
	z-index: 7;
}