
.navbar {
	height: calc(100% - var(--global-header-height));
}

aside {
	position: static !important;
	box-shadow: var(--global-shadow);
	height: 100%;
	transition: max-width 0.2s ease-out !important;
}

.navbarContent {
	/* padding-top: 5px; */
}

.navbarItem {
	cursor: pointer;
}

.versionContainerRail {
	display: none;
}

.versionContainer {
	position: absolute;
	left: 10px;
	bottom: 15px;
	color: rgba(0, 0, 0, 0.4);
	z-index: 7;
}