@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html, body {
	height: 100%;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

:root {
	/* navbar */
	--global-navbar-width: 250px;
	--global-navrail-width: 58px;
	/* header */
	--global-header-height: 65px;
	/* page */
	--global-page-mrgn: 48px;
	--global-page-margin: 48px 48px 48px 48px;
	--global-line-space: 24px;
	--global-input-width: 390px;
	--global-dialog-width: 800px;
	--global-profile-line-space: 24px;
	--global-profile-column-space: 24px;
	--global-profile-input-width: 200px;
	--global-topbar-margin-left: 10px;
	--global-topbar-margin-right: 48px;
	--global-topbar-btnContainer-width: 250px;
	--global-dialog-background: none;
	--global-dialog-padding: 350px 0 650px 0;
	--global-feedback-size: small;
	--global-error-color: #B1262D;
	--global-success-color: #3C9052;
	/* header */
	--global-header-size: 25px;
	--global-header-line-size: 1px;
	--global-header-line-color: rgba(0, 0, 0, 0.6);
	--global-header-color: black;
	--global-table-page-container-size: 30px;
	--global-login-width: 480px;
	--global-btn-justification: space-between;
	--global-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
	--global-border-width: 1px;
	/*SNACKBAR*/
	--global-snackbar-width: 100%;
	--global-snackbar-margin: 0 0 0 50%;
	--global-snackbar-color: white;
	--global-snackbar-font-color: var(--mdc-theme-primary);
	/*Table*/
	--global-table-menu-height: 50px;
	--global-table-cell-height: 50px;
	--global-table-cell-width: 170px;
}



