.show {
    display: block;
    margin-left: 10px;
}

.dontShow {
    display: none;
}

.titleLogged {
    color: white;
}

.titleNotLogged {
    color: white;
    margin-left: 34px;
}

.header{
    width: 100%;
    background-color: #34538A;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
}

.navBar {
    display:flex;
    flex-direction: column;
    height: 100%;
    min-width: 180px;
    background-color: white;
    /* padding-top: 64px; */
    z-index: 1;
    box-shadow: 10px 5px 5px #9C9696;  
}

.clickShadow {
    background-color: #C7C1C1;
    opacity: 0.5;
    min-height: 90%;
    min-width: 90%;
    z-index: 1;
}

.navWindowOpened {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    
}

.navWindowClosed {
    display: none;
}

.nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    color: #484852;
}


.active {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    background-color: #34538A;
    color: white;

}

.nav:hover{
    background-color:  #EEEEF1;
}

.icon {
    color: #484852;
}

.activeIcon {
    color: white;
    background-color: #34538A !important;
    /* background-color: rgb(); */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .navBar {
        min-width: 100px;
    }

    .icon {
        color: #484852;
        margin-left: auto;
        margin-right: auto;

    }

    .activeIcon {
        color: white;
        background-color: #34538A !important;
        margin-left: auto;
        margin-right: auto;

    }

    .nav {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #484852;
        margin-bottom: 20px;

    }

    .active {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #34538A;
        color: white;
        margin-bottom: 20px;
    }

    .navBar {
        height: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
