.titleLogged {
    color: white;
	position: absolute;
	left: 220px;
	font-size: 30px;
}


.header{
    width: 100%;
    background-color: #34538A;
    color: white;
    height: 170px;
    display: flex;
    align-items: center;
    z-index: 4;
}


.logo {
	background-color: #34538A;
	height: auto;
	width: 170px;
}


.setIcon {
	color: white;
	font-family: 'Material Icons';
    font-style: normal;
    font-size: 40px;
	position: absolute;
	top: 63px;
	right: 15px
}

.iconInactive {
	color: black;
}

.settingsContainer {
	background-color: white;
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 400px;
	right: 70px;
	border-radius: 50px;
}

.settingsContainerClosed {
	display: none;
}

.label {
	width: 100%;
	transform: translate(-20px, 0);
}


.nav {
    height: 50px;
	width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
	padding-right: 15%;
    color: #484852;
	border-radius: 50px;
	cursor: pointer;
}

.active {
    height: 50px;
	width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    background-color: #34538A;
    color: white;
}

.icon {
    color: #484852;
}

.activeIcon {
    color: white;
    background-color: #34538A !important;
}

.nav:active {
	border: 1px solid #34538A;
}

.nav:hover{
    background-color:  #EEEEF1;
}

@media only screen and (max-width: 989px) {

	.titleLogged {
		display: none;
	}

	.header {
		height: 150px;
	}

	.logo {
		width: 150px;
	}
}

@media only screen and (max-width: 867px) {


}


@media only screen and (max-width: 600px) {

	.titleLogged {
		display: none;
	}

	.settingsContainer {
		width: fit-content;
		display: flex;
		flex-direction: column;
	}

	.label {
		display: none;
	}

	.nav {
		width: fit-content;
		padding: 0;
	}

	.active {
		width: fit-content;
		padding: 0;
	}

	.icon {
		transform: translate(16px, 0);
	}

	.activeIcon {
		transform: translate(16px, 0);

	}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
