.pageLarge {
	margin-left: var(--global-navrail-width);
	height: calc(100% - var(--global-header-height));
	padding: var(--global-page-margin);
	width: calc(100% - var(--global-navrail-width));
	/* width: 100%; */
}

.pageSmall {
	margin-left: var(--global-navbar-width);
	height: calc(100% - var(--global-header-height));
	padding: var(--global-page-margin);
	width: calc(100% - var(--global-navbar-width));
	/* width: 100%; */
}

.profileContainer {
	width: calc((var(--global-profile-input-width) * 2) + var(--global-profile-column-space));
}

.headerContainer {
	display: flex;
	flex-direction: column;
}

.header {
	font-size: 20px;
}

.subHeader {
	font-size: 15px;
	margin-bottom: var(--global-profile-line-space);
}

.row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--global-profile-line-space);
}

.radioContainer {
	display: flex;
	justify-content: space-around;
	width: var(--global-profile-input-width)
}

.radioBtn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fullWidth {
	width: 100%;
}

.input {
	margin-bottom: var(--global-profile-line-space);
	width: var(--global-profile-input-width);
}

.dateContainer {
	width: var(--global-profile-input-width);
	display: flex;
	flex-direction: column;
	margin-bottom: var(--global-profile-line-space);
}