.view {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content {
	width: calc(100% - 170px);
	/* margin-left: 200px !important; */
	padding: 0 5% 50px 5%;
}

.fullContent {
	width: 100%;
	height: fit-content;
	padding: 0 5% 0 5%;
}

.configContainer {
	height: fit-content;
	/* padding-bottom: 10px; */
}

.userContainer {
	height: fit-content;
	/* padding-bottom: 10px; */
}

.evalContainer {
	height: fit-content;
	/* padding-bottom: 10px; */
}

@media only screen and (max-width: 600px) {
	.content {
		width: 100%;
		height: fit-content;
		/* margin-left: 200px !important; */
		padding: 0 5% 50px 5%;
	}
}