

.menuBtnIcon {
	color: rgba(0, 0, 0, 0.5);
	font-size: 30px;
}

.menuBtn {
	border: none;
	padding: 5px 5px 5px 5px;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	cursor: pointer;
	height: fit-content;
}

button {
	border: none;
	outline: none;

}

.menuBtn:hover {
	background-color: rgba(0, 0, 0, 0.10);
}

.menuBtn:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.menuBtnContainer {
	width: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.editBtn {
	width: 40px;
	height: 40px;
	border: none;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	cursor: pointer;
	padding-right: 10px;
}

.editBtnSelected {
	width: 40px;
	height: 40px;
	border: none;
	padding: 5px 5px 5px 5px;
	background: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 100px;
	cursor: pointer;
}

.editBtnSelected:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.editBtnSelected:active {
	background-color: rgba(1, 135, 134, 1);
}

.editBtn:hover {
	background-color: rgba(0, 0, 0, 0.10);
}

.editBtn:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.tdIcon {
	color: var(--mdc-theme-primary);
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.editIcon {
	color: var(--mdc-theme-primary) !important;
	cursor: pointer;
	margin-left: 5px;
}

.editIconSelected {
	color: rgba(0, 0, 0, 0.5);
	margin-left: 5px;
}

.thIconBtn {
	color: rgba(0, 0, 0, 0.38);
	width: var(--global-table-page-container-size) !important;
	height: var(--global-table-page-container-size);
	border: none;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	cursor: pointer;
	margin-left: 15px;
}

.tableFixHead, thead, th {
	position: sticky;
	top: 0;
}





/* th, td {
	padding: 8px 16px;
	overflow: hidden;
} */
/* 
th {
	height: 30px;
	max-height: 30px;
} */

.tdBtnsContainer {
	display: flex;
	padding: 8px;
}

.btnsData {
	max-width: 200px;
	min-width: 200px;
}

.headerCellContainer {
	display: flex;
	align-items: center;
	width: 100%;
}

.divider {
	width: 2px;
	height: calc(var(--global-table-cell-height) - 10px);
	background-color: rgba(0, 0, 0, 0.10);
}

table {
	border-collapse: collapse;
	width: 100%;
	border-spacing: 0;
	table-layout: fixed;
}

.alignLeft {
	text-align: left;
	justify-content: flex-start;
	padding: 8px;
	width: 100%;
	max-height: var(--global-table-cell-height);
	height: var(--global-table-cell-height);
	min-height: var(--global-table-cell-height);
}

.alignRight {
	text-align: right;
	justify-content: flex-end;
	padding: 8px;
	width: 100%;
	max-height: var(--global-table-cell-height);
	height: var(--global-table-cell-height);
	min-height: var(--global-table-cell-height);
}

td {
	border-top: 1px solid #C7C1C1;
}


tr:hover {
	background-color: #EEEEF1;
}

.headerCell {
	display: flex;
	align-items: center;
	cursor: pointer;
	max-height: var(--global-table-cell-height);
	height: var(--global-table-cell-height);
	min-height: var(--global-table-cell-height);
}

.deleteBtn {
	margin-left: 50px;
}

.btn {
	color: var(--mdc-theme-primary);
	width: var(--global-table-page-container-size) !important;
	height: var(--global-table-page-container-size);
	border: none;
	padding: 5px 5px 5px 5px;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	cursor: pointer;
}

.btnSelected {
	background-color: #ede1fd;
	color: var(--mdc-theme-primary);
	width: var(--global-table-page-container-size) !important;
	height: var(--global-table-page-container-size);
	border: none;
	padding: 5px 5px 5px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
}

.btnSelected:active {
	background-color: rgba(90, 0, 238, 0.45);
}

.btn:disabled {
	color : rgba(0, 0, 0, 0.38);
}

.btn:hover {
	background-color: rgba(0, 0, 0, 0.10);
}

.btn:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.pageBtnContainer:hover {
	background-color: #C7C1C1;
}

.tableContainer {
	overflow-x: auto;
	padding-right: 30px;
	padding-left: 30px;
}

.searchContainer {
	height: var(--global-table-menu-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px 15px 0px;

}

.deleteContainer {
	height: var(--global-table-menu-height);
	background-color: #EEEEF1;
	padding: 0px 30px 0px 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.deleteContainer:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.deleteContainer:active {
	background-color: #EEEEF1;
}

.subTableTitle {
	font-size: 20px;
	font-weight: bold;
}

.subTableTitleContainer {
	margin: 20px 0 20px 0;
}

.checkAll {
	width: fit-content;
	margin-left: 48px;
}

.roundBtn {
	border-radius: 100px;
}

.deleteIcon {
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Material Icons';
    font-style: normal;
    font-size: 30px;
}

.footerBar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0px 30px 0px 30px;
	height: 55px;
}

.paginationBar {
	display: flex;
	justify-content: end;
	align-items: center;
}

.rowSelected {
	background-color: rgba(1, 135, 134, 0.45);
}

.rowSelected:hover {
	background-color: rgba(1, 135, 134, 0.8);
}

.selectedCount {
	font-size: 15px;
}

.menuHeight {
	transform: scale( 0.7 );
}

.subTable {
	border-collapse: collapse;
	table-layout: fixed;
}

.subTableRow {
	padding: 0 0 0 0;
	border: none;
}

.subTableRow:hover {
	background-color: white;
}

.subTableData {
	padding: 0 0 !important;
	border: none;
}

.subTableContainer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	height: 200px;
	padding: 0 10% 0 10%;
}

.search {
	display: flex;
	align-items: center;
	padding-left: 30px;
}

.searchInput {
	position: relative;
	right: 5px;
}

.searchIcon {
	color: rgba(0, 0, 0, 0.5);
	font-size: 30px;
	position: relative;
	left: 10px;
}

