

.tdIconContainer {
	width: 120px;
	display: flex;
	justify-content: flex-start;
	/* justify-content: center; */
	/* align-items: center; */
}

.tdIcon {
	color: var(--mdc-theme-primary);
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.thIcon {
	color: var(--mdc-theme-primary);
	cursor: pointer;
	margin-left: 5px;
}

.thIconBtn {
	color: rgba(0, 0, 0, 0.38);
	width: var(--global-table-page-container-size) !important;
	height: var(--global-table-page-container-size);
	border: none;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	cursor: pointer;
	margin-left: 15px;
}

.tableFixHead, thead, th {
	position: sticky;
	top: 0;
}



table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	min-width: 200px;
	max-width: 200px;
	height: 60px;
	padding: 8px 16px;
	text-align: left;
	border-bottom: 1px solid #C7C1C1;

}

tr:hover {
	background-color: #EEEEF1;
}

.headerCell {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.deleteIcon {
	margin-left: auto;
	margin-right: auto;
}

.deleteBtn {
	margin-left: 50px;
}

.paginationBar {
	height: 60px;
	display: flex;
	width: 100%;
	justify-content: end;
	align-items: center;
}

.btn {
	color: var(--mdc-theme-primary);
	width: var(--global-table-page-container-size) !important;
	height: var(--global-table-page-container-size);
	border: none;
	padding: 5px 5px 5px 5px;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	cursor: pointer;
}

.btnSelected {
	background-color: #ede1fd;
	color: var(--mdc-theme-primary);
	width: var(--global-table-page-container-size) !important;
	height: var(--global-table-page-container-size);
	border: none;
	padding: 5px 5px 5px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
}

.btnSelected:active {
	background-color: rgba(90, 0, 238, 0.45);
}

.btn:disabled {
	color : rgba(0, 0, 0, 0.38);
}

.btn:hover {
	background-color: rgba(0, 0, 0, 0.10);
}

.btn:active {
	background-color: rgba(0, 0, 0, 0.38);
}

.pageBtnContainer:hover {
	background-color: #C7C1C1;
}

.menuIcon {
	color: var(--mdc-theme-primary);
	font-family: 'Material Icons';
    font-style: normal;
    font-size: 40px;
}

.menuBtn {
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.menuBtn:hover {
 background-color: #EEEEF1;
}

.menu {
	position: absolute;
	top: 220px;
	background-color: white;
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: var(--global-shadow);
	z-index: 8;
}

.dontDisplay {
	display: none;
}

.menuContainer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;

}

.menuItem {
	color: var(--mdc-theme-primary);
	background-color: white !important;
	width: 200px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 5px;
}

.menuItem:hover {
	background-color: #EEEEF1 !important;
}

.searchContainer {
	display: flex;
	justify-content: space-between;
	padding: 10px 30px 0px 30px
}

.deleteContainer {
	display: flex;
	justify-content: flex-end;
	padding: 10px 30px 0px 30px
}

.checkAll {
	width: fit-content;
	margin-left: 65px;
}