

.tdIconContainer {
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tdIcon {
	color: var(--mdc-theme-primary);
}

.tableFixHead, thead, th {
	position: sticky;
	top: 0;
}


table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px 16px;
	/* border: 1px solid #C7C1C1; */
	text-align: center;
}

td {
	border-bottom: 1px solid #C7C1C1;
}

th {
	border-bottom: 1px solid #C7C1C1;
}

tr:hover {
	background-color: #EEEEF1;
}

.deleteIcon {
	margin-left: auto;
	margin-right: auto;
}

.deleteBtn {
	margin-left: 50px;
}