.navBar {
	background-color: white;
	height: 100%;
	width: 170px;
	position: fixed;
	z-index: 2;
	top: 0;
	/* border-right: 1px solid #9C9696; */
	border-right: 1px solid #34538A;
	/* overflow-y: auto; */
}

.dontShow {
	display: none;
} 

.navBtnOpen {
	background-color: #34538A !important;
	width: 100px !important;
	height: 100px !important;
	border-radius: 110px !important;
	cursor: pointer;
	position: fixed !important;
	margin-left: 120px;
	top: 500px !important;
	z-index: 3;
	transform: scale(0.3);
}

.navBtnClosed {
	background-color: #34538A !important;
	width: 100px !important;
	height: 100px !important;
	border-radius: 110px !important;
	cursor: pointer;
	position: fixed !important;
	margin-left: -45px;
	top: 500px !important;
	z-index: 3;
	transform: scale(0.3);
}

.btnIcon {
	color: white;
	font-family: 'Material Icons' !important;
    font-style: normal;
	font-size: 100px;
}

.mdc-button {
	text-transform: none !important;
}

.logo {
	background-color: #34538A;
	height: auto;
	width: 170px;
}

.nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    color: #484852;
	cursor: pointer;
}

.navPlayer{
	height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    color: #484852;
	cursor: pointer;
}

.nav:active {
	border: 1px solid #34538A;
}


.active {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    background-color: #34538A;
    color: white;
}

.activePlayer {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    background-color: #34538A;
    color: white;
}

.nav:hover{
    background-color:  #EEEEF1;
}

.icon {
    color: #484852;
}

.activeIcon {
    color: white;
    background-color: #34538A !important;
}

@media only screen and (max-width: 989px) {

	.titleLogged {
		display: none;
	}

	.logo {
		width: 150px;
	}

	.navBar {
		width: 150px;
	}

	.label {
		font-size: 15px;
	}

	.navBtnOpen {
		margin-left: 120px;
	}
}

@media only screen and (max-width: 867px) {


}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.label {
		display: none;
	}

	.logo {
		display: none;
	}

	.navBtnOpen {
		display: none;
	}

	.navBtnClosed {
		display: none;
	}

	.navBar {
		height: fit-content;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		position: fixed !important;
		top: 100vh;
		bottom: 10px !important;
		z-index: 2;
		border-right: 1px solid #9C9696;
		display:flex;
		flex-direction: row;
		transform: translate(0, -50px);
	}

	.nav {
		border-top: 5px solid #34538A;
		width: 33.33333333%;
		justify-content: center;
	}

	.active{
		width: 33.33333333%;
		justify-content: center;
	}

	.navPlayer {
		width: 50%;
		justify-content: center;
	}

	.activePlayer {
		width: 50%;
		justify-content: center;
	}

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
