.navBar {
	background-color: white;
	height: 100%;
	width: 170px;
	position: fixed;
	z-index: 2;
	/* margin-bottom: 200px; */
	top: 0;
	border-right: 1px solid #9C9696;
}

.logo {
	background-color: #34538A;
	height: 170px;
	width: 170px;
}


/* .navBar {
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    height: 200%;
    min-width: 180px;
    background-color: white;
    z-index: 1;
    box-shadow: 10px 5px 5px #9C9696;  
    position: relative;
    overflow-y: auto;
} */

.navWindowOpened {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    
}

.navWindowClosed {
    display: none;
}

.nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    color: #484852;
}


.active {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    background-color: #34538A;
    color: white;

}

.nav:hover{
    background-color:  #EEEEF1;
}

.icon {
    color: #484852;
}

.activeIcon {
    color: white;
    background-color: #34538A !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .navBar {
        min-width: 110px;
    }

    .clickShadow {
        margin-left: 110px;
    }

    .icon {
        color: #484852;
        margin-left: auto;
        margin-right: auto;

    }

    .activeIcon {
        color: white;
        background-color: #34538A !important;
        margin-left: auto;
        margin-right: auto;

    }

    .nav {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #484852;
        margin-bottom: 20px;

    }

    .active {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #34538A;
        color: white;
        margin-bottom: 20px;
    }

    .navBar {
        height: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
