.inputContainer {
	padding-top: var(--global-line-space);
	width: var(--global-dialog-width);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.subHeader {
	position: absolute;
	top: 50px;
	left : 25px;
}

.fullWidth{
	width: 100%;
}

.input {
	width: var(--global-input-width);
}

.width {
	width: var(--global-input-width);
}

.selectId {
	width: 100%;
	margin-bottom: var(--global-line-space);
}

.row {
	width: 800px;
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--global-line-space);
}

.dialog {
	background-color: var(--global-dialog-background);
	z-index: 8;
	padding: var(--global-dialog-padding);
}

.confirmDialog {
	background-color: var(--global-dialog-background);
	z-index: 8;
}

dialog.confirmDialog > div:first-child {
	width: 200px;
}

.footer {
	position: relative;
	top: calc(var(--global-line-space) * -1);
	padding-right: 40px;
}

.feedbackErr {
	color: var(--global-error-color);
	font-size: var(--global-feedback-size);
	height: 10px;
}

.feedbackSucc {
	color: var(--global-success-color);
	font-size: var(--global-feedback-size);
}

.feedbackContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btnDisabled {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.btnEnabled {
	background-color: var(--mdc-theme-primary) !important;
	color: white !important;
}

.deleteBtn {
	background-color: var(--global-error-color) !important;
	color: white !important;
}

.deleteBtn:hover {
	opacity: 0.8;
}

.deleteBtn::before {
	background-color: var(--global-error-color) !important;
}

.deleteBtn::after {
	background-color: var(--global-error-color) !important;
}

/* 768+ */
@media only screen and (min-width: 768px) {}


/* 768- */
@media only screen and (max-width: 768px) {
	dialog.dialog > div:first-child {
		width: 100%;
	}

	.inputContainer {
		width: 100%;
	}

	.row {
		width: 100%;
		height: 135px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: var(--global-line-space);
	}

	.input {
		width: 100%;
	}
}



/* 480- */
@media only screen and (max-width: 480px) {
	
}